/*
@font-face {
  font-family: 'BrandonGrotesque-Thin';
  src: url('font/BrandonGrotesque-Thin.eot');
  src: url('font/BrandonGrotesque-Thin.woff2') format('woff2'),
       url('font/BrandonGrotesque-Thin.woff') format('woff'),
       url('font/BrandonGrotesque-Thin.ttf') format('truetype'),
       url('font/BrandonGrotesque-Thin.svg#BrandonGrotesque-Thin') format('svg'),
       url('font/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
*/

#completecontainer {
/*	width: 488px;*/
	width: 550px;
	margin: 50px auto;
	text-align: center;
}

/* ------------------ DECADES ------------------ */
#decades {
/*	background-color: pink;*/
	margin: 0;
	width: 20px;
	font-size: 20px;
	color: #868686;
	display: inline-block;
	line-height: 99px;
}

#decades p {
	display: inline-block;
}

/* ------------------ WEEKS ------------------ */
#total {
	width: 468;
	margin: 0;
	text-align: center;
	display: inline-block;
}

.year {
	margin: -11px 0;
	padding: 0;
}

.week {
	margin: 0 2px;
	height: 6px;
	width: 6px;
	display: inline-block;
	border-radius: 100%;
}

.week.unfilled {
	border: 1px solid #57C5D0;
}

.week.filled {
	background: -webkit-linear-gradient(#B6E7E2, #57C5D0);
}