/*
@font-face {
  font-family: 'BrandonGrotesque-Thin';
  src: url('font/BrandonGrotesque-Thin.eot');
  src: url('font/BrandonGrotesque-Thin.woff2') format('woff2'),
       url('font/BrandonGrotesque-Thin.woff') format('woff'),
       url('font/BrandonGrotesque-Thin.ttf') format('truetype'),
       url('font/BrandonGrotesque-Thin.svg#BrandonGrotesque-Thin') format('svg'),
       url('font/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
*/

/* ------------------ ABOUT ------------------ */
