/*
@font-face {
  font-family: 'BrandonGrotesque-Thin';
  src: url('font/BrandonGrotesque-Thin.eot');
  src: url('font/BrandonGrotesque-Thin.woff2') format('woff2'),
       url('font/BrandonGrotesque-Thin.woff') format('woff'),
       url('font/BrandonGrotesque-Thin.ttf') format('truetype'),
       url('font/BrandonGrotesque-Thin.svg#BrandonGrotesque-Thin') format('svg'),
       url('font/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
*/

/* ------------------ PT-PAGE-2 YEARS ------------------ */

.pt-page-2 {
	background: #FFAFBD;
	background: -moz-linear-gradient(#ffc3a0, #FFAFBD);
	background: -webkit-gradient(#ffc3a0, #FFAFBD);
	background: -webkit-linear-gradient(#ffc3a0, #FFAFBD);
	background: -o-linear-gradient(#ffc3a0, #FFAFBD);
	background: -ms-linear-gradient(#ffc3a0, #FFAFBD);
	background-attachment: fixed;
}

.pt-page-2 #completecontainer {
	width: 600px;
	margin: 0px auto 50px auto;
	text-align: center;
}

.pt-page-2 #decades {
/*	background-color: pink;*/
	margin: 0;
	margin-top: -14px; 
	width: 20px;
	font-size: 20px;
	color: #868686;
	display: inline-block;
	line-height: 80px;
}

.pt-page-2 #decades p {
	display: inline-block;
}

.pt-page-2 #total {
	width: 498;
	margin: 0;
	text-align: center;
	display: inline-block;
}

.pt-page-2 .decade {
	margin: 15px 0px;
	padding: 0;
}

.pt-page-2 .year {
	margin: 0 10px;
	height: 30px;
	width: 30px;
	display: inline-block;
	border-radius: 100%;
}

.pt-page-2 .year.unfilled {
	border: 3px solid #fff;
}

.pt-page-2 .year.filled {
	background: #fff;
}

/* ------------------ PT-PAGE-3 MONTHS ------------------ */

.pt-page-3 {
	background: #53DEA8;
	background: -moz-linear-gradient(#9CECB2, #53DEA8);
	background: -webkit-gradient(#9CECB2, #53DEA8);
	background: -webkit-linear-gradient(#9CECB2, #53DEA8);
	background: -o-linear-gradient(#9CECB2, #53DEA8);
	background: -ms-linear-gradient(#9CECB2, #53DEA8);
	background-attachment: fixed;
}

.pt-page-3 #completecontainer {
	width: 100%;
	margin: 0px auto 50px auto;
	text-align: center;
}

.pt-page-3 #decades {
/*	background-color: pink;*/
	margin: 0;
	margin-top: -14px; 
	width: 20px;
	font-size: 20px;
	color: #868686;
	display: inline-block;
	line-height: 80px;
}

.pt-page-3 #decades p {
	display: inline-block;
}

.pt-page-3 #total {
	width: 498;
	margin: 0;
	text-align: center;
	display: inline-block;
}

.pt-page-3 .years3 {
	margin: 0px 0px;
	padding: 0;
}

.pt-page-3 .month {
	margin: 0 4px;
	height: 15px;
	width: 15px;
	display: inline-block;
	border-radius: 100%;
}

.pt-page-3 .month.unfilled {
	border: 2px solid #fff;
}

.pt-page-3 .month.filled {
	background: #fff;
}

/* ------------------ PT-PAGE-4 WEEKS ------------------ */

.pt-page-4 {
	background: #f06666;
	background: -moz-linear-gradient(#FFB88C, #f06666);
	background: -webkit-gradient(#FFB88C, #f06666);
	background: -webkit-linear-gradient(#FFB88C, #f06666);
	background: -o-linear-gradient(#FFB88C, #f06666);
	background: -ms-linear-gradient(#FFB88C, #f06666);
	background-attachment: fixed;
}

.pt-page-4 #completecontainer {
/*	width: 488px;*/
	width: 600px;
	margin: 0px auto 50px auto;
	text-align: center;
}

.pt-page-4 #decades {
/*	background-color: pink;*/
	margin: 0;
	margin-top: -14px; 
	width: 20px;
	font-size: 20px;
	color: #868686;
	display: inline-block;
	line-height: 80px;
}

.pt-page-4 #decades p {
	display: inline-block;
}

.pt-page-4 #total {
	width: 508;
	margin: 0;
	text-align: center;
	display: inline-block;
}

.pt-page-4 .year {
	margin: -13px 0px;
	padding: 0;
}

.pt-page-4 .week {
	margin: 0 1px;
	height: 7px;
	width: 7px;
	display: inline-block;
	border-radius: 100%;
}

.pt-page-4 .week.unfilled {
	border: 1px solid #fff;
}

.pt-page-4 .week.filled {
	background: #fff;
}